# frozen_string_literal: true

class <%= resource_controller_class %> < ApplicationController
  def index
    <%= table_name %> = if params[:ids].present?
                  <%= class_name %>.where ids: params[:ids]
                else
                  <%= class_name %>.all
                end

    render json: <%= resource_normalizer_class %>.new(<%= table_name %>, params)
  end

  def show
    <%= singular_name %> = <%= class_name %>.find params[:id]

    render json: <%= resource_normalizer_class %>.new(<%= singular_name %>)
  end

  def create
    validator        = <%= resource_module_name %>::CreateValidator.call params
    errors           = ValidationErrorFormatter.call validator
    validated_params = validator.to_h[:<%= singular_name %>]

    if errors.empty?
      <%= singular_name %> = <%= resource_module_name %>::Build.call validated_params
      <%= singular_name %> = <%= resource_module_name %>::Save.call <%= singular_name %>
    end

    render json: <%= resource_normalizer_class %>.new(<%= singular_name %>)
  end

  def update
    validator        = <%= resource_module_name %>::UpdateValidator.call params
    errors           = ValidationErrorFormatter.call validator
    validated_params = validator.to_h[:<%= singular_name %>]

    if errors.empty?
      <%= singular_name %> = <%= class_name %>.find params[:id]
      <%= singular_name %> = <%= resource_module_name %>::Update.call <%= singular_name %>, validated_params
      <%= singular_name %> = <%= resource_module_name %>::Save.call <%= singular_name %>
    end

    render json: <%= resource_normalizer_class %>.new(<%= singular_name %>)
  end

  def destroy
    <%= singular_name %> = <%= class_name %>.find params[:id]

    <%= singular_name %>.destroy!

    render json: { message: "<%= class_name %> deleted successfully" }
  end
end
