# frozen_string_literal: true

module <%= resource_module_name %>
  class UpdateValidator < BaseValidator
    params do
      required(:<%= singular_name %>).maybe :hash do
<%= validator_attributes_list %>
      end
    end
  end
end
