# frozen_string_literal: true

module <%= resource_module_name %>
  class CreateValidator < BaseValidator
    params do
      required(:<%= table_name %>).maybe :hash do
<%= validator_attributes_list %>
      end
    end
  end
end
