# frozen_string_literal: true

require "rails_helper"

RSpec.describe "[DELETE] /<%= route_path %>", type: :request do
  Given(:path) { "/<%= route_path %>" }
  Given(:user) { create :user }
  Given(:<%= singular_name %>) { create :<%= singular_name %> }
  Given(:ids)  { [<%= singular_name %>.id] }

  context "with authenticated user" do
    When { delete path, params: { ids: ids }, headers: api_auth_headers(user) }

    Then { expect(response_body[:errors]).to be_empty }
    And  { expect(response).to be_successful }
  end
end
